body{
	text-align: center;
	background: #6bdcff;
	font-family: 'Kavivanar', cursive;
	font-weight: 100;
}

h1{
  color: #fff;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
font-family: 'Kavivanar', cursive;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #96e9ff;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #004e81;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}